@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'DM Sans', sans-serif;
    background-color: black;
    color: #fafafa;
}

nav {
    background-image: url('./images/destroy_hero.jpeg');
    background-size:contain;
    background-repeat: no-repeat;

}